<header>
  <h3>Host:</h3>
  <!--
  The Hosts Stage
-->
  <auditorium-stage> </auditorium-stage>
  <h3>Callers</h3>
  <!--
  The callers
-->
  <auditorium-caller-stage> </auditorium-caller-stage>
</header>
<main>
  <h3>Audience</h3>
  <!--
  The seating
-->
  <auditorium-seating> </auditorium-seating>
</main>
<p>stream id : {{ streamId }}</p>
<millterial-basic-avatar [avatarUrl]="avatarUrl"> </millterial-basic-avatar>
<millterial-basic-avatar> </millterial-basic-avatar>
<millterial-basic-avatar> </millterial-basic-avatar>
