<main id="interface">
  <header id="header">
    <h1>Welcome</h1>
    <button
      class="disconnected"
      (click)="handleCallButton($event)"
      type="button"
      id="call-button"
      [class.connected]="isConnected"
    >
      {{ callButtonInnerHtml }}
    </button>
  </header>
  <article id="videos">
    <h2 class="preserve-access">Streaming Videos</h2>
    <video
      id="self"
      autoplay
      muted
      playsinline
      poster="img/placeholder.png"
    ></video>
    <video id="peer" autoplay playsinline poster="img/placeholder.png"></video>
  </article>
</main>
